/* 5)
შექმენით ორი <div> და ორივეში მოათავსე რაიმე ტექსტები.

მიანიჭეთ ID ები და CSS-ში შეუცვალეთ ფონის ფერი ამ დივებს. */


#div1{

    font-size: 45px;
    color: aquamarine;
}

#div2{

    font-size: 56px;
    color: rgb(182, 6, 251);
}