/* 6)შექმენი დალაგებული სია სადაც შეიყვანთ 5 ავტომობილის სახელს]

თქვენი დავალებაა 5 ივე ავტომობილის სახელს ქონდეს განსხვავებული სილები,გამოიყენეთ ID ები */


#car1{

    font-size: 43px;
    color: blue;
}

#car2{

    font-size: 41px;
    color: rgb(123, 123, 233);
}

#car3{

    font-size: 29px;
    color: rgb(218, 7, 158);
}

#car4{

    font-size: 11px;
    color: rgb(156, 156, 16);
}

#car5{

    font-size: 99px;
    color: rgb(7, 199, 45);
}