#firsth2{
    color: brown;
    font-size: 12px;
}

#secondh2{
    color: rgb(8, 61, 236);
    font-size: 59px;
}

#p1
{

    color: rgb(36, 208, 33);
    font-size: 20px;
}

#p2
{

    color: rgb(52, 13, 75);
    font-size: 21px;
}

#p3
{

    color: rgb(179, 227, 132);
    font-size: 99px;
}


