.second-p
{

color: red;
font-size: 20px;
background-color: blueviolet;

}

.first-pp{

    color: blue;
    font-size: 50px;
    background-color: yellow;
}

.gg{
    color: blueviolet;
    font-size: 30px ;
    background-color: green;
}

.first-pp{

    border: 2px solid red;
}