/* 7)შექმენით 4 დაუნომრავი სია --> 

პირველი სიის ტიპი იყოს --> ჩვეულებრვი default bullets

მეორე სიის ტიპი იყოს --> ცარიელი bullets

მესამე სიის ტიპი იყოს --> არაფერი არ ქონდეს წინ აითემებს

მეოთხე სიის ტიპი იყოს --> ოთხკუთხედი bullets */

#ul2{
    list-style-type: circle;
}

#ul3{
    list-style-type: none;
}

#ul4{
    list-style-type: square;
}