/* 1)გაქვს flex container (width: 400px) და 3 ელემენტი.

თითოეულს აქვს flex-basis: 200px

გააკეთე ისე, რომ:

მხოლოდ მეორე ელემენტი არ შემცირდეს

დანარჩენები კი შემცირდნენ ეკრანის დაპატარავებასთან ერთად */

.t1{
    display: flex;
    width: 200px;
    flex-basis: 200px;
    
}

#y1{
    width: 400px;
}