/* 13)გაქვს flex container პატარა ზომით მაგ 400px და შიგნით რამდენიმე ელემენტი.

ელემენტებს აქვს დიდი flex-basis (მაგ: 300px) თითოეულს

გააკეთე ისე, რომ:

ელემენტები არ შემცირდნენ საერთოდ ანუ არ შეიკუმშნონ
და გადავიდნენ ახალ ხაზზე ეკრანის შემიცირებასთან ერთად */

#m1{
    width: 400px;
}

div{
    flex-basis: 300px;
    flex-wrap: wrap;
}