/* 16)გაქვს 3 ელემენტი.

დაწერე shorthand(შემოკლებულად) ისე, რომ:

ყველა ელემენტი გაიზარდოს თანაბრად

არ შემცირდნენ

საწყისი ზომა იყოს 150px */

div{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 150px;
}