/* 17)გაქვს flex container და 2 ელემენტი.

გააკეთე ისე, რომ:

პირველი ელემენტი: არ გაიზარდოს, არ შემცირდეს, იყოს 200px

მეორე ელემენტი: დაიკავოს დარჩენილი სივრცე*/


#div1{
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 200px;
}

div{
    flex-grow: 1;
}