/* 2)გაქვს კონტეინერი (height: 300px).
შიგნით არის 3 div.

ყველა ელემენტი დალაგებულია align-items: center-ით
მაგრამ მეორე div უნდა გადავიდეს ზემოთ (container-ის დასაწყისში)

გამოიყენე მხოლოდ align-self */

#parent1{
    display: flex;
    height: 300px;
    align-items: center;
    padding:15px ;
    justify-content: center;
}

#child2{
    align-self: start;
}

div{
    display: flex;
    flex-grow: 1;
}