/* 7)გაქვს flex container 3 ელემენტით.

სამივე ელემენტს hover გაუკეთეთ და შეუცვალეთ უკანა ფონის ფერი

მაგრამ hover-ზე მესამე ელემენტი უნდა გაიზარდოს დანარჩენებზე მეტად და დაიკავოს დარჩენილი სივრცე */

#child1:hover{
    display: flex;
    background-color: blue;
    flex-grow: 1;
    
}