/* 10)შექმენი კონტეინერი, სადაც არის 8 ბლოკი (div).
კონტეინერის სიგანე იყოს 400px.
ბლოკების სიგანე იყოს 120px.
გააკეთე ისე, რომ ელემენტები გადავიდნენ ახალ ხაზზე საჭიროების შემთხვევაში. */

#div1{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}

div{
    width:120px;
}