/* 3)შექმენი section:

სურათის პოზოვია იყოს ქვედა მარჯვენა კუთხეში

განმეორდეს მხოლოდ x

ზომა იყოს 150px 150px

ასევე ბოლოს - ყველაფერი ერთ ხაზში (shorthand) */


section{
    width: 500px;
    height: 500px;
    background: url(75657d714e308ce4912927379ddbf112.jpg) repeat-x;
    background-size: 50px;
    border: 1px red solid;
    

}