/* 7)შექმენი დივი -- 500px 500px

დაამატე შიგნით ავტომობილის ფოტო რომელიც-->
არ მეორდება, დაფარავს მთლიან დივს ,  არის ცენტრში 

ამ დივში ჩასვი ერთი ტექსტი ყვითელი ფერის --> NEW!!!! <-- და position ის დახმარებით აიტანე ეს ტექსტი ზემოთ მარჯვენა დივის კუთხეში */

div{
    height: 500px;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: start;
    
    background: url(download\ \(5\).jpg) no-repeat center; 
}

h1{
    position: relative;
    top: 140px;
    left: 180px;
    color: yellow;
   

}