/* 8)შექმენი კონტეინერი (height: 300px) და 3 ბლოკი(ეს სამი ბლოკი განათავსე ვერტიკაალურ პოზოციაზე და შშემდეგ==> ელემენტები განათავსექვემოთ მარცხენა კუთხეში */
div{
    height: 300px;
    display: flex;
    align-items: end;
    justify-content: start;
}