#firsth1{

    color: aqua;
    font-size: larger;
    background-color: bisque;
}

.firstp1{

    color: rgb(148, 224, 224);
    font-size: small;
    background-color: rgb(228, 131, 13);
}

ul{

    color: rgb(29, 3, 197);
    font-size: smaller;
    background-color: rgb(162, 109, 235);
}