/* 2)შექმენი პარაგრაფი, რომელსაც აქვს class.
მიანიჭე მას განსხვავებული სტილი როგორც tag selector-ით, ასევე class selector-ით.
დააკვირდი, რომელი სტილი იმუშავებს და ახსენი მიზეზი.  css ისთვის  უფრო პრივორიტეტულია id ით გასტილვა*/

p{
    color: blueviolet;
}

#pp1{
    color: rgb(61, 212, 218);
}

.p1{
    color: rgb(53, 24, 212);
}